body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styling that was chalaging to implement with React */

.ResponsiveDrawer-root-1 .ResponsiveDrawer-content-7,
.main > div:first-child > div:last-child {
  padding: 0px;
}
.MuiTypography-subtitle1-86 {
  font-size: 0.9rem !important;
  color: rgba(170, 10, 190, 1) !important;
}
.main > div:nth-child(2) > div:first-child   {
  height: calc(100% - 65px) !important;
}
.error {
  height: calc(100% - 89px);
  width: -webkit-fill-available;
}
#outlined-error {
  color: rgb(255, 80, 0);
  letter-spacing: .05rem;
}
@media only screen and (min-width: 600px) {

  .main > div:nth-child(2) > div:first-child   {
    position: fixed !important;
    margin-left: 270px !important;
    width: calc(100% - 270px) !important;
  }
  .error {
    margin-left: 282px !important;
  } 
}
