body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* styling that was chalaging to implement with React */

/* fix the padding in material UI */
main {
  padding: 0px !important;
}
/* adjust font size in drawer list */
button span span {
  font-size: 0.9rem !important;
  line-height: 1.5 !important;
}
.main > div:nth-child(2) > div:first-child   {
  height: calc(100% - 65px) !important;
}
.error {
  height: calc(100% - 89px);
  width: -webkit-fill-available;
}
#outlined-error {
  color: rgb(255, 80, 0);
  letter-spacing: .05rem;
}

/* qucik change 6+ moths after the project */
.MuiOutlinedInput-input-143 {
  
  letter-spacing: 0.125rem;
}

@media only screen and (min-width: 600px) {

  .main > div:nth-child(2) > div:first-child   {
    position: fixed !important;
    margin-left: 270px !important;
    width: calc(100% - 270px) !important;
  }
  .error {
    margin-left: 282px !important;
  } 
}
